.main-footer {
  width: clamp(370px, 60%, 700px);
  max-height: 100px;

  margin: auto auto 0;

  padding: 0.5rem 1rem;
}

.my-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.rsschool-logo {
  max-width: 5rem;
}

.references {
  color: grey;
  text-align: right;
}