// table-surface
$surface-backup-color: #dd992d;
$surface-color-gradient: linear-gradient($surface-backup-color, #cd8c26);

// table-edge
$edge-color: #ac741c;

// table-leg
$leg-color: #84570f;